@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.no-limit-buzz {
	background-color: #fff;
}

.no-limit-buzz--container {
	width: 100%;
	margin: 0 auto;
}

.no-limit-buzz--site-header {
	width: 100%;
	padding: 10px 0px;
}

.no-limit-buzz--site-branding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.no-limit-buzz--site-branding-logo img {
	height: 17px;
	width: auto;
	object-fit: contain;
}

.no-limit-buzz--site-branding-search {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.no-limit-buzz--site-branding-search img {
	height: 16px;
	width: auto;
	object-fit: contain;
}

.no-limit-buzz--site-branding-search input {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 10px 0;
	width: 100%;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #000000;
}

.no-limit-buzz--site-branding-search input::placeholder {
	color: #718096;
}

.no-limit-buzz--site-branding-menu {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
}

.no-limit-buzz--site-branding-menu-left {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 25px;
}

.no-limit-buzz--site-branding-menu-left a {
	color: #000000;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	transition: all 0.3s ease-in-out;
}

.no-limit-buzz--site-branding-menu-left a:hover {
	color: #000000;
	text-decoration: underline;
}

.no-limit-buzz--site-branding-menu-right {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 25px;
}

.no-limit-buzz--site-branding-menu-right a {
	text-decoration: none;
	line-height: 0;
}

.no-limit-buzz--site-branding-menu-right a svg {
	height: 20px;
	width: 20px;
}

.no-limit-buzz--site-branding-menu-right a svg path {
	fill: #454444;
}

.no-limit-buzz--site-branding-menu-right a svg:hover path {
	fill: #000000;
}

.no-limit-buzz--site-main {
	width: 100%;
	background-color: #fbfbfb;
	padding: 100px 0;
}

.no-limit-buzz--site-main-section-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}

.no-limit-buzz--site-main-section-1-left {
	width: 100%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 16px;
}

.no-limit-buzz--site-main-section-1-left-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100%;
	max-width: 450px;
}

.no-limit-buzz--site-main-section-1-left-title h2 {
	font-family: "Inter", sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #000000;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--site-main-section-1-left-title img {
	width: 95px;
	height: 95px;
	object-fit: contain;
	object-position: center;
	position: absolute;
	margin-left: 200px;
	margin-top: 60px;
}

.no-limit-buzz--site-main-section-1-left-description p {
	font-family: "Inter", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #4a5568;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--site-main-section-1-right {
	width: 100%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.no-limit-buzz--site-main-section-1-right img {
	width: 100%;
	height: auto;
	max-width: 476px;
	max-height: 323px;
}

.no-limit-buzz--site-main-section-2 {
	width: 100%;
	padding: 5rem 0;
	background-color: #fff;
}

.no-limit-buzz--site-main-section-2-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.no-limit-buzz--site-main-section-2-container:hover {
	transform: scale(1.01);
}

.no-limit-buzz--site-main-section-2-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 40px;
	padding: 20px;
	background-color: #fff;
	width: 45%;
	padding-left: 40px;
}

.no-limit-buzz--site-main-section-2-left-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 16px;
}

.no-limit-buzz--site-main-section-2-left-title h3 {
	font-family: "Inter", sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #2d3748;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--site-main-section-2-left-title p {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #718096;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--site-main-section-2-left-date {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}

.no-limit-buzz--site-main-section-2-left-date span {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #718096;
}

.no-limit-buzz--site-main-section-2-left-date a {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #000000;
	text-decoration: none;
}

.no-limit-buzz--site-main-section-2-right {
	width: 50%;
	height: 283px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.no-limit-buzz--site-main-section-3 {
	background-color: #fff;
	width: 100%;
}

.no-limit-buzz--site-main-section-3-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.no-limit-buzz--site-main-section-3-pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}

.no-limit-buzz--site-main-section-3-pagination a {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #000000;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.no-limit-buzz--site-main-section-3-pagination a:hover {
	color: #000000;
	text-decoration: underline;
}

.no-limit-buzz--site-main-section-3-blog {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	width: 100%;
	height: 100%;
	max-width: 382px;
	max-height: 400px;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.no-limit-buzz--site-main-section-3-blog:hover {
	transform: scale(1.01);
}

.no-limit-buzz--site-main-section-3-blog-image {
	width: 100%;
	height: 179px;
}

.no-limit-buzz--site-main-section-3-blog-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.no-limit-buzz--site-main-section-3-blog-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
}

.no-limit-buzz--site-main-section-3-blog-content-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 16px;
}

.no-limit-buzz--site-main-section-3-blog-content-title h3 {
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #2d3748;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--site-main-section-3-blog-content-title p {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #718096;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--site-main-section-3-blog-content-date {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}

.no-limit-buzz--site-main-section-3-blog-content-date span {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #718096;
}

.no-limit-buzz--site-main-section-3-blog-content-date a {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #000000;
	text-decoration: none;
}

.no-limit-buzz--site-footer {
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #cccccc;
	margin-top: 30px;
}

.no-limit-buzz--site-info {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.no-limit-buzz--site-info-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.no-limit-buzz--site-info-left a {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #000000;
	text-decoration: none;
}

.no-limit-buzz--site-info-left span {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #000000;
}

.no-limit-buzz--site-info-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.no-limit-buzz--site-info-right a {
	text-decoration: none;
	line-height: 0;
}

.no-limit-buzz--site-info-right a svg {
	height: 20px;
	width: 20px;
}

.no-limit-buzz--site-info-right a svg path {
	fill: #454444;
}

.no-limit-buzz--site-info-right a svg:hover path {
	fill: #000000;
}

.no-limit-buzz--post {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.no-limit-buzz--post-header {
	width: 100%;
	height: 400px;
	margin-top: 15px;
}

.no-limit-buzz--post-header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

.no-limit-buzz--post-content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
}

.no-limit-buzz--post-content hr {
	border: 0px solid #e8e7e7;
	margin: 23px 0;
}

.no-limit-buzz--post-content-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 16px;
}

.no-limit-buzz--post-content-title h1 {
	font-family: "Inter", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: #2d3748;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--post-content-title-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
}

.no-limit-buzz--post-content-title-info p:first-child {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.01em;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
}

.no-limit-buzz--post-content-title-info p:first-child span {
	font-weight: 700;
	color: #2d3748;
}

.no-limit-buzz--post-content-title-info p:last-child {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
	margin: 0;
	padding: 0;
}

.no-limit-buzz--post-content-title-info p:last-child span {
	font-weight: 400;
	color: #718096;
}

.no-limit-buzz--post-content-text {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.01em;
}

.no-limit-buzz--post-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.no-limit-buzz--post-footer a {
	text-decoration: none;
	line-height: 0;
	position: relative;
	bottom: 10px;
	left: 10px;
	transition: all 0.3s ease-in-out;
}

.no-limit-buzz--post-footer a:hover {
	transform: scale(1.01);
}

.no-limit-buzz--post-footer a svg {
	height: 32px;
	width: 32px;
	transition: all 0.3s ease-in-out;
}

.no-limit-buzz--post-footer a svg path {
	fill: #662bc5;
}

.no-limit-buzz--post-footer a svg:hover {
	transform: scale(1.01);
}

.no-limit-buzz--post-footer a svg:hover path {
	fill: #000000;
}

.error-404 {
	text-align: center;
	padding: 50px;
	background-color: #f8f9fa;
}

.error-404 .page-title {
	font-size: 2em;
	color: #333;
}

.error-404 .page-content p {
	font-size: 1.2em;
	color: #666;
}

/*# sourceMappingURL=custom.css.map */