// Import Inter font with all weights from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.no-limit-buzz {
  background-color: #fff;

  &--container {
    width: 100%;
    margin: 0 auto;
  }

  &--site-header {
    width: 100%;
    padding: 10px 0px;
  }

  &--site-branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &-logo {
      img {
        height: 17px;
        width: auto;
        object-fit: contain;
      }
    }

    &-search {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        height: 16px;
        width: auto;
        object-fit: contain;
      }

      input {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px 0;
        width: 100%;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #000000;

        &::placeholder {
          color: #718096;
        }
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 20px;

      &-left {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 25px;

        a {
          color: #000000;
          text-decoration: none;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.01em;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #000000;
            text-decoration: underline;
          }
        }
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 25px;

        a {
          text-decoration: none;
          line-height: 0;

          svg {
            height: 20px;
            width: 20px;

            path {
              fill: #454444;
            }

            &:hover {
              path {
                fill: #000000;
              }
            }
          }
        }
      }
    }
  }

  &--site-main {
    width: 100%;
    background-color: #fbfbfb;
    padding: 100px 0;

    &-section-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      max-width: 1150px;
      margin: 0 auto;

      &-left {
        width: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        &-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;
          max-width: 450px;

          h2 {
            font-family: "Inter", sans-serif;
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.01em;
            color: #000000;
            margin: 0;
            padding: 0;
          }

          img {
            width: 95px;
            height: 95px;
            object-fit: contain;
            object-position: center;
            position: absolute;
            margin-left: 200px;
            margin-top: 60px;
          }
        }

        &-description {
          p {
            font-family: "Inter", sans-serif;
            font-size: 30px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.01em;
            color: #4a5568;
            margin: 0;
            padding: 0;
          }
        }
      }

      &-right {
        width: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        img {
          width: 100%;
          height: auto;
          max-width: 476px;
          max-height: 323px;
        }
      }
    }

    &-section-2 {
      width: 100%;
      padding: 5rem 0;
      background-color: #fff;

      &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.01);
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        padding: 20px;
        background-color: #fff;
        width: 45%;
        padding-left: 40px;

        &-title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 16px;

          h3 {
            font-family: "Inter", sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.01em;
            color: #2d3748;
            margin: 0;
            padding: 0;
          }

          p {
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.01em;
            color: #718096;
            margin: 0;
            padding: 0;
          }
        }

        &-date {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          width: 100%;

          span {
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.01em;
            color: #718096;
          }

          a {
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.01em;
            color: #000000;
            text-decoration: none;
          }
        }
      }

      &-right {
        width: 50%;
        height: 283px;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        padding: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    &-section-3 {
      background-color: #fff;
      width: 100%;

      &-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
      }

      &-pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;

        a {
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.01em;
          color: #000000;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }

        a:hover {
          color: #000000;
          text-decoration: underline;
        }
      }

      &-blog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        height: 100%;
        max-width: 382px;
        max-height: 400px;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.01);
        }

        &-image {
          width: 100%;
          height: 179px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px;
          padding: 10px 20px;
          width: 100%;
          height: 100%;
          padding-bottom: 40px;

          &-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;

            h3 {
              font-family: "Inter", sans-serif;
              font-size: 20px;
              font-weight: 700;
              line-height: 1.2;
              letter-spacing: 0.01em;
              color: #2d3748;
              margin: 0;
              padding: 0;
            }

            p {
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.01em;
              color: #718096;
              margin: 0;
              padding: 0;
            }
          }

          &-date {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 100%;

            span {
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.01em;
              color: #718096;
            }

            a {
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.01em;
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &--site-footer {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #cccccc;
    margin-top: 30px;
  }

  &--site-info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      a {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #000000;
        text-decoration: none;
      }

      span {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #000000;
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;

      a {
        text-decoration: none;
        line-height: 0;

        svg {
          height: 20px;
          width: 20px;

          path {
            fill: #454444;
          }

          &:hover {
            path {
              fill: #000000;
            }
          }
        }
      }
    }
  }

  &--post {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &-header {
      width: 100%;
      height: 400px;
      margin-top: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }

    &-content {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 30px;

      hr {
        border: 0px solid #e8e7e7;
        margin: 23px 0;
      }

      &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        h1 {
          font-family: "Inter", sans-serif;
          font-size: 40px;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: 0.01em;
          color: #2d3748;
          margin: 0;
          padding: 0;
        }

        &-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 30px;

          p:first-child {
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.01em;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;

            span {
              font-weight: 700;
              color: #2d3748;
            }
          }

          p:last-child {
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.01em;
            margin: 0;
            padding: 0;

            span {
              font-weight: 400;
              color: #718096;
            }
          }
        }
      }

      &-text {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01em;
      }
    }

    &-footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      a {
        text-decoration: none;
        line-height: 0;
        position: relative;
        bottom: 10px;
        left: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.01);
        }

        svg {
          height: 32px;
          width: 32px;
          transition: all 0.3s ease-in-out;

          path {
            fill: rgb(102, 43, 197);
          }

          &:hover {
            transform: scale(1.01);

            path {
              fill: #000000;
            }
          }
        }
      }
    }
  }
}
